---
import CtaImage from '../images/cta.svg'
import utils from '../utils'
---

<section>
    <div class="container">
        <div class="grid-half align-center">
            <div>
                <img src={CtaImage.src} alt="cta image">
            </div>
            <div class="cta">
                <h2 class="text-xlg">Your next lending product awaits</h2>
                <p class="text-sm">For those who want more from their lending products, there’s Canopy. Get started today and never look back.</p>
                <a href={utils.config.buy_url} target="_blank" class="button button-primary">Buy template {utils.config.title}</a>
            </div>
        </div>
        
    </div>
</section>



<style lang="scss">

section{
    background-color: var(--as-peach);

    img{
        width: 80%;
        transform: translateX(-10px);
    }

    @media (max-width: 700px) {
        .grid-half{
            grid-template-columns: 1fr;
            .cta{
                margin-top: 30px;
                text-align: center;
            }
        }
    }
  
}
</style>