---
import utils from '../utils'
const links = [
    { title: 'Pricing',  link: utils.config.buy_url },
    { title: 'Contact us', link: `mailto:${utils.config.mailto}` },
    { title: 'Get the free version', link: utils.config.brew },

]
---

<footer>
    <div class="container">
        <div class="grid-half align-center">
            <div class="copyright">
                <p>Pro © {new Date().getFullYear()}. &nbsp;  Made with ♥︎ by  <a href={utils.config.ig} class="use-link" target="_blank">Codetonero</a></p>
            </div>
            <div class="links">
                <ul class="flex-center gap-3">
                    {links.map((item) => (
                        <li><a href={item.link} target="_blank">{item.title}</a></li>
                    ))}
                </ul>
            </div>
        </div>
    </div>
</footer>


<style lang="scss">


footer{
    background-color: #fff;
    padding: 50px 0;
    p{
        margin: 0px;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: flex-start;
    }

    @media (max-width: 700px) {
        .grid-half{
            grid-template-columns: 1fr;
            text-align: center;
            .flex-center{
                flex-direction: column;
                gap: 10px;
                padding-top: 40px;
            }
        }
    }
}


a, .use-link{
    color: var(--as-black);
    text-decoration: none;
    &:hover{
        opacity: .8;
        text-decoration: underline;
    }
}

</style>