---
import Logo from '../images/logo.svg'
import utils from '../utils'
---

<header>
    <nav class="navbar grid container">
        <div class="nav-logo">
            <a href="https://anthonycharles.work">
                <img src={Logo.src} alt="brand logo" width="100">
            </a>
            <div class="menu-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                  <path fill-rule="evenodd" d="M3 9a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 9Zm0 6.75a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                </svg>                  
            </div>
        </div>
        <div class="nav-links use-mobile-header">
            <ul class="flex-center">
                <li><a href="#features">Features</a></li>
                <li><a href="#solutions">Solutions</a></li>
            </ul>
        </div>
        <div class="nav-cta flex-center gap-2 use-mobile-header">
            <a href={utils.config.brew} target="_blank" class="button button-primary">Free version</a>
            <a href="#">Sign up</a>
        </div>
    </nav>
</header>


<script>

    const menu = document.querySelector('.menu-icon') as any

    menu.addEventListener('click', () => {
        document.querySelectorAll('.use-mobile-header').forEach(item => {
            item.classList.toggle('open')
        })
    })

</script>

<style lang="scss"> 



.navbar{
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-top: 20px;
    .nav-cta{
        justify-content: flex-end;
        a:not(.button){
            transform: translateY(-5px);
        }
    }
    ul{
        list-style: none;
        margin: 0px;
        li{
            padding: 0 20px;
        }
    }

    a:not(.button){
        text-decoration: none;
        color: inherit;
        font-weight: 600;
        font-size: 1.7rem;
        &:hover{
            opacity: .8;
        }
    }


    @media (max-width: 700px) {
        grid-template-columns: 100%;
        .nav-logo{
            display: flex;
        }
        .flex-center{
            flex-direction: column;
        }
        a{
            display: block;
            text-align: center;
        }
        .menu-icon{
            margin-left: auto;
            transform: translateY(-10px);
            svg{
                width: 38px;
            }
        }

        .use-mobile-header{
            display: none;
            a{
                margin-top: 20px;
            }
            &.open{
                display: block;
            }
        }
        .nav-cta{
            border-bottom: var(--as-white) 1px solid;
            padding-bottom: 10px;
        }
    }

    @media (min-width: 700px) {
        .menu-icon{
            display: none;
        }
    }
}



</style>