---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Brands from '../components/Brands.astro';
import Header from '../components/Header.astro';
import Features from '../components/Features.astro';
import Showcase from '../components/Showcase.astro';
import Reviews from '../components/Reviews.astro';
import Pricing from '../components/Pricing.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Astrobrew Pro - The ultimate micro-saas landing page.">
	<main>
		<Header />
		<Hero />
		<Brands />
		<Features />
		<Showcase />
		<Reviews />
		<Pricing />
		<CallToAction />
		<Footer />
	</main>
</Layout>

<style>
	

	main{
		background-color: #fff;
	}

</style>
