---
import One from '../images/showcase/one.svg'
import Two from '../images/showcase/two.svg'
import Three from '../images/showcase/three.svg'


import utils from '../utils'
const images = [One, Two, Three]

const items  = utils.showcase.map((item, index) => {
    return {
        ...item,
        img: images[index]?.src
    }
})

---


<section id="solutions">
    <div class="container">
        <div class="max-w-lg m-auto text-center">
            <h2 class="text-lg">Powered by GameLayer</h2>
            <p class="text-sm">Over the last decade, we've worked across a wide range of industries and helped clients deliver successful gamification solutions that drive user engagement, retention, and customer loyalty.</p>
        </div>
        <div class="showcases">
            {items.map(item => (
                <div class="showcase flex">
                  <div class="case-text">
                    <div class="text-content max-w-sm">
                        <h2 class="text-md text-bolder">{item.title}</h2>
                        <p class="text-sm">{item.desc}</p>
                    </div>
                  </div>
                  <div class="case-media">
                    <img src={item.img} alt={`${item.title} gamification case study showing user engagement and customer loyalty results`} loading="lazy" />
                  </div>
                </div>
            ))}
        </div>
    </div>
</section>



<style lang="scss"> 

section{
    padding: 70px 0;
    
    // Tablet landscape (1024px and below)
    @media (max-width: 1024px) {
        padding: 60px 0;
    }
    
    // Tablet portrait (768px and below)
    @media (max-width: 768px) {
        padding: 50px 0;
    }
    
    // Mobile landscape (640px and below)
    @media (max-width: 640px) {
        padding: 40px 0;
    }
    
    // Mobile portrait (480px and below)
    @media (max-width: 480px) {
        padding: 30px 0;
    }
}

.showcases{
    .showcase{
        margin-top: 80px;
        .case-media, .case-text{
            flex-basis: 50%;
        }
        .case-media img{
            width: 100%;
            border-radius: 30px;
        }
        &:nth-child(even){
            flex-direction: row-reverse;
            transform: translateX(-40px);
            .text-content{
                margin-left: auto;
            }
            
        }
    }
    @media (max-width: 700px) {
        .showcase{
            flex-direction: column;
            &:nth-child(even){
                flex-direction: column;
                transform: translateX(0px);
            }
        }
    }
}
</style>